<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Doğrulama</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Doğrulama</h2>
    {% if hata %}
        <p class="hata">{{ hata }}</p>
    {% endif %}
    <form action="/dogrulama" method="POST">
        <input type="text" name="dogrulama_kodu" placeholder="Kod" required>
        <input type="text" name="uygulama_kodu" placeholder="Uygulama Kodu" required>
        <button type="submit">Girişe Devam</button>
    </form>
</body>
</html>
