<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akıllı Ev Durumu</title>
</head>
<body>
    <h1>Akıllı Ev Durumu</h1>
    <ul>
        <li>Kapi Durumu: {{ durum['olan']['kapi'] }}</li>
        <li>Vantilator Durumu: {{ durum['olan']['vantilator'] }}</li>
        <li>Pencere Durumu: {{ durum['olan']['pencere'] }}</li>
        <li>Isik Durumu: {{ durum['olan']['isik'] }}</li>
        <li>Sicaklik: {{ durum['olan']['sicaklik'] }} °C</li>
    </ul>
</body>
</html>
